:root {
    --primary-color: #269ccc;
    --secondary-color: #3d3d3f;
    --background-color: #f6f5f3;
    --section-bg-color: #ffffff;
    --text-color: #3d3d3f;
    --heading-color: #3d3d3f;
    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1);
    --radius-md: 0.5rem;
}

body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    line-height: 1.75;
}

header {
    background: var(--secondary-color);
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 5px 0;
    font-size: 1.2em;
}

header a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: var(--radius-md);
    transition: all 0.2s ease;
    position: relative;
    z-index: 1
}

header a:hover {
    background-color: var(--primary-color);
    text-decoration: underline;
    transform: translateY(-2px);
}

.carousel {
    margin: 20px auto;
    width: 80%;
    background: var(--section-bg-color);
    padding: 20px;
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: var(--radius-md);
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.carousel img {
    width: 100%;
    height: 400px; /* Sets a specific height */
    object-fit: cover; /* Ensures the image fits the space properly */
    border-radius: var(--radius-md);
}

.about {
    display: flex;
    align-items: center;
    padding: 40px 20px;
    text-align: justify;
    background: var(--section-bg-color);
    color: var(--text-color);
    border-radius: var(--radius-md);
    margin: 20px;
    box-shadow: var(--shadow-md);
}

.about img {
    flex: 1;
    max-width: 20%; /* 1/5 of the section width */
    margin-right: 20px;
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md);
}

.about-content {
    flex: 4; /* Remaining 4/5 of the section width */
}

.about h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--primary-color);
}

footer {
    background: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: var(--primary-color);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
